{% extends "dashboard/base.html" %}
{% block content %}

<!-- Main content -->
<main class="main" ng-app="dlInTheLineMinistryHealthSysApp" ng-controller="dlInTheLineMinistryHealthSysAppController">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Health Sector</a>
        </li>

        <li class="breadcrumb-item active"><span class="label label-success" style="font-size:14px;">Table 5: Damages and Losses in the Line Ministry Health System</span>
        </li>

    </ol>


    <div class="container-fluid">

        <div>
            <ul class='nav nav-wizard'>
                <li class="active"><a href='#step1' data-toggle="tab">1 Destroyed Facilities and Assets</a></li>
                <li><a href='#step2' data-toggle="tab">2 No of Destroyed Assets by Types of Facilities</a></li>
                <li><a href='#step3' data-toggle="tab">3 Partially Damaged Facilities and Assets</a></li>
                <li><a href='#step4' data-toggle="tab">4 No of Partially Damaged Assets</a></li>
                <li><a href='#step5' data-toggle="tab">5 Losses</a></li>

            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active" id="step1">

                    <table class="table table-bordered" style="width:100%;background:#E4E5E6;">
                        <colgroup>
                            <col width="264"/>
                            <col width="98" span="6"/>
                        </colgroup>
                        <tbody>
                        <tr class="trhead">
                            <td style="padding-left:5px;"> Name of District</td>
                            <td colspan="3" style="background:#EFEFEF;">
                                <select id="selectbasic" ng-model="district" name="selectbasic" class="form-control"
                                        style="width:50%;font-weight:400;">
                                    {% for district in districts %}
                                    <option value={{ district.id }}>{{ district.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="2" style="padding-right:5px;text-align:right;">
                                Disaster Type
                            </td>
                            <td colspan="2" style="background:#EFEFEF;">
                                <select id="selectbasic" name="selectbasic" class="form-control"
                                        style="width:100%;font-weight:400;">
                                    <option value="1">Option one</option>
                                    <option value="2">Option two</option>
                                </select>
                            </td>
                        </tr>
                        <tr height="20" class="trheadc">
                            <td width="264" height="20">
                            </td>
                            <td colspan="5" width="490" style="text-align:center;">
                                Type of Facility
                            </td>
                            <td width="98">
                            </td>
                        </tr>
                        <tr height="20" class="trheadc">
                            <td width="264" height="20">
                            </td>
                            <td colspan="3" width="294">
                                Line Ministry Health System
                            </td>
                            <td colspan="2" width="196">
                                MOH
                            </td>
                            <td rowspan="2" width="98">
                                Total Number
                            </td>
                        </tr>
                        <tr height="34" class="trsubc">
                            <td width="264" height="34" class="trheadc">
                            </td>
                            <td width="98">
                                Teaching Hospitals
                            </td>
                            <td width="98">
                                Provincial General Hospitals
                            </td>
                            <td width="98">
                                District General Hospitals
                            </td>
                            <td width="98">
                                Offices
                            </td>
                            <td width="98">
                                Others
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="height:400px;overflow:auto;">
                        <table class="table table-bordered">
                            <!--tab 1-->
                            <tr height="20" ng-repeat="dmhDfNum in dlMinistryHealthSys.Table_5.DmhDfNum">
                                <td width="264" ng-bind="dmhDfNum.num_des_facilities" height="20" class="tdpa">
                                </td>
                                <td ng-repeat="(key, value) in dmhDfNum" ng-if="$index > 0 && $index < 6" width="98">
                                    <input id="textinput" ng-model="dmhDfNum[key]" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                                <td width="98">
                                    <input id="textinput" ng-model="dmhDfNum.total" ng-value="dmhDfNum.total=dlMinistryHealthSys.Table_5.DmhDfNum[0].teaching_hospital + dlMinistryHealthSys.Table_5.DmhDfNum[0].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhDfNum[0].district_general_hospital + dlMinistryHealthSys.Table_5.DmhDfNum[0].office + dlMinistryHealthSys.Table_5.DmhDfNum[0].other" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Number of Patients Affected
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20" ng-repeat="dmhDfPaf in dlMinistryHealthSys.Table_5.DmhDfPaf">
                                <td width="264" ng-bind="dmhDfPaf.num_patients_affected" height="20" class="tdpa">
                                </td>
                                <td ng-repeat="(key, value) in dmhDfPaf" ng-if="$index > 0 && $index < 6" width="98">
                                    <input id="textinput" ng-model="dmhDfPaf[key]" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhDfPaf.num_patients_affected == 'Male'">
                                    <input id="textinput" ng-model="dmhDfNum.total" ng-value="dmhDfNum.total=dlMinistryHealthSys.Table_5.DmhDfPaf[0].teaching_hospital + dlMinistryHealthSys.Table_5.DmhDfPaf[0].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhDfPaf[0].district_general_hospital + dlMinistryHealthSys.Table_5.DmhDfPaf[0].office + dlMinistryHealthSys.Table_5.DmhDfPaf[0].other" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhDfPaf.num_patients_affected == 'Female'">
                                    <input id="textinput" ng-model="dmhDfNum.total" ng-value="dmhDfNum.total=dlMinistryHealthSys.Table_5.DmhDfPaf[1].teaching_hospital + dlMinistryHealthSys.Table_5.DmhDfPaf[1].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhDfPaf[1].district_general_hospital + dlMinistryHealthSys.Table_5.DmhDfPaf[1].office + dlMinistryHealthSys.Table_5.DmhDfPaf[1].other" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <br>
                        <a href="#step2" class="btn btn-sm btn-info pull-right" data-toggle="tab">
                            <span class="glyphicon glyphicon-arrow-right"></span> Fill No of Destroyed Assets by Types of Facilities Informations</a>
                    </div>

                </div>

                <div class="tab-pane" id="step2">
                    <table class="table table-bordered" style="width:98.3%;background:#E4E5E6;">
                        <colgroup>
                            <col width="264"/>
                            <col width="98" span="6"/>
                        </colgroup>
                        <tbody>

                        <tr height="20" class="trheadc">
                            <td width="264" height="20">
                            </td>
                            <td colspan="3" width="294" style="text-align:center;">
                                Line Ministry Health System
                            </td>
                            <td colspan="2" width="196">
                                MOH
                            </td>
                            <td rowspan="2" width="98" style="text-align:center;">
                                Total Damages (LKR)
                            </td>
                        </tr>
                        <tr height="34" class="trsubc">
                            <td width="264" height="34" class="trhead" style="text-align:left;">
                                Assets
                            </td>
                            <td width="98">
                                Teaching Hospitals
                            </td>
                            <td width="98">
                                Provincial General Hospitals
                            </td>
                            <td width="98">
                                District General Hospitals
                            </td>
                            <td width="98">
                                Offices
                            </td>
                            <td width="98">
                                Others
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="height:400px;overflow:auto;">
                        <table class="table table-bordered">
                            <colgroup>
                                <col width="264"/>
                                <col width="98" span="6"/>
                            </colgroup>
                            <!--tab 2-->
                            <tbody>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Structures (in sqm)
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20" ng-repeat="dapNapTmf in dlHealthDamagelostPrivateSys.Table_7.DapNapTmf">
                                <td width="264" ng-bind="dapNapTmf.type_med_fac" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dapNapTmf" ng-if="$index > 0">
                                    <input id="textinput" ng-model="dapNapTmf[key]" name="textinput" type="text"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Set of Supplies
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20"
                                ng-repeat="dmhNdatFacSupplies in dlMinistryHealthSys.Table_5.DmhNdatFacSupplies">
                                <td width="264" ng-bind="dmhNdatFacSupplies.asset" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dmhNdatFacSupplies"
                                    ng-if="$index > 0 && $index < 4">
                                    <input id="textinput" ng-model="dmhNdatFacSupplies[key]" name="textinput"
                                           type="number" placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" style="background:#E4E5E6;">
                                </td>
                                <td width="98" style="background:#E4E5E6;">
                                </td>
                                <td width="98" ng-if="dmhNdatFacSupplies.asset == 'Medicines'">
                                    <input id="textinput" ng-model="dmhNdatFacSupplies.total" ng-value="dmhNdatFacSupplies.total=dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[0].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[0].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[0].district_general_hospital" name="textinput"
                                           type="number" placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacSupplies.asset == 'Medical Supplies'">
                                    <input id="textinput" ng-model="dmhNdatFacSupplies.total" ng-value="dmhNdatFacSupplies.total=dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[1].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[1].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[1].district_general_hospital" name="textinput"
                                           type="number" placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacSupplies.asset == 'Others'">
                                    <input id="textinput" ng-model="dmhNdatFacSupplies.total" ng-value="dmhNdatFacSupplies.total=dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[2].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[2].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[2].district_general_hospital" name="textinput"
                                           type="number" placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacSupplies.asset == 'Value of Destroyed Supplies'">
                                    <input id="textinput" ng-model="dmhNdatFacSupplies.total" ng-value="dmhNdatFacSupplies.total=dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[3].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[3].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacSupplies[3].district_general_hospital" name="textinput"
                                           type="number" placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Medical Equipment
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20"
                                ng-repeat="dmhNdatFacMequipment in dlMinistryHealthSys.Table_5.DmhNdatFacMequipment">

                                <td width="264" ng-bind="dmhNdatFacMequipment.asset" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dmhNdatFacMequipment"
                                    ng-if="$index > 0 && $index < 4">
                                    <input id="textinput" ng-model="dmhNdatFacMequipment[key]" name="textinput"
                                           type="number" placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" style="background:#E4E5E6;">
                                </td>
                                <td width="98" style="background:#E4E5E6;">
                                </td>
                                <td width="98" ng-if="dmhNdatFacMequipment.asset == 'CT Scan'">
                                    <input id="textinput" ng-model="dmhNdatFacMequipment.total" ng-value="dmhNdatFacMequipment.total=dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[0].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[0].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[0].district_general_hospital" name="textinput"
                                           type="number" placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacMequipment.asset == 'X-ray Machine'">
                                    <input id="textinput" ng-model="dmhNdatFacMequipment.total" ng-value="dmhNdatFacMequipment.total=dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[1].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[1].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[1].district_general_hospital" name="textinput"
                                           type="number" placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacMequipment.asset == 'MRI Machine'">
                                    <input id="textinput" ng-model="dmhNdatFacMequipment.total" ng-value="dmhNdatFacMequipment.total=dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[2].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[2].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[2].district_general_hospital" name="textinput"
                                           type="number" placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacMequipment.asset == 'Other Equipment (Specify)'">
                                    <input id="textinput" ng-model="dmhNdatFacMequipment.total" ng-value="dmhNdatFacMequipment.total=dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[3].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[3].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacMequipment[3].district_general_hospital" name="textinput"
                                           type="number" placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Other Assets
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20"
                                ng-repeat="dmhNdatFacOassets in dlMinistryHealthSys.Table_5.DmhNdatFacOassets">
                                <td width="264" ng-bind="dmhNdatFacOassets.asset" height="20" class="tdpa">
                                </td>
                                <td ng-repeat="(key, value) in dmhNdatFacOassets" ng-if="$index > 0 && $index < 6" width="98">
                                    <input id="textinput" ng-model="dmhNdatFacOassets[key]" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacOassets.asset == 'Computers'">
                                    <input id="textinput" ng-model="dmhNdatFacOassets.total" ng-value="dmhNdatFacOassets.total=dlMinistryHealthSys.Table_5.DmhNdatFacOassets[0].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[0].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[0].district_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[0].office + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[0].other" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacOassets.asset == 'Vehicles'">
                                    <input id="textinput" ng-model="dmhNdatFacOassets.total" ng-value="dmhNdatFacOassets.total=dlMinistryHealthSys.Table_5.DmhNdatFacOassets[1].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[1].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[1].district_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[1].office + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[1].other" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacOassets.asset == 'Furniture'">
                                    <input id="textinput" ng-model="dmhNdatFacOassets.total" ng-value="dmhNdatFacOassets.total=dlMinistryHealthSys.Table_5.DmhNdatFacOassets[2].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[2].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[2].district_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[2].office + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[2].other" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacOassets.asset == 'Office Equipment'">
                                    <input id="textinput" ng-model="dmhNdatFacOassets.total" ng-value="dmhNdatFacOassets.total=dlMinistryHealthSys.Table_5.DmhNdatFacOassets[3].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[3].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[3].district_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[3].office + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[3].other" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacOassets.asset == 'Others'">
                                    <input id="textinput" ng-model="dmhNdatFacOassets.total" ng-value="dmhNdatFacOassets.total=dlMinistryHealthSys.Table_5.DmhNdatFacOassets[4].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[4].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[4].district_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[4].office + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[4].other" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacOassets.asset == 'Value of Destroyed Other Assets'">
                                    <input id="textinput" ng-model="dmhNdatFacOassets.total" ng-value="dmhNdatFacOassets.total=dlMinistryHealthSys.Table_5.DmhNdatFacOassets[5].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[5].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[5].district_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[5].office + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[5].other" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" ng-if="dmhNdatFacOassets.asset == 'VALUE OF DESTROYED ASSETS'">
                                    <input id="textinput" ng-model="dmhNdatFacOassets.total" ng-value="dmhNdatFacOassets.total=dlMinistryHealthSys.Table_5.DmhNdatFacOassets[6].teaching_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[6].provincial_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[6].district_general_hospital + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[6].office + dlMinistryHealthSys.Table_5.DmhNdatFacOassets[6].other" name="textinput" type="number"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <a href="#step3" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                                class="glyphicon glyphicon-arrow-right"></span> Fill Partially Damaged Facilities and
                            Assets Informations</a>
                    </div>

                </div>

                <div class="tab-pane" id="step3">

                    <table class="table table-bordered" style="width:100%;background:#E4E5E6;">
                        <colgroup>
                            <col width="264"/>
                            <col width="98" span="6"/>
                        </colgroup>
                        <tbody>
                        <!--tab 3-->

                        <tr height="20" class="trheadc">
                            <td width="264" height="20">
                            </td>
                            <td colspan="5" width="490" style="text-align:center;">
                                Type of Facility
                            </td>
                            <td width="98">
                            </td>
                        </tr>
                        <tr height="20" class="trheadc">
                            <td width="264" height="20">
                            </td>
                            <td colspan="3" width="294">
                                Line Ministry Health System
                            </td>
                            <td colspan="2" width="196">
                                MOH
                            </td>
                            <td rowspan="2" width="98">
                                Total Number
                            </td>
                        </tr>
                        <tr height="34" class="trsubc">
                            <td width="264" height="34" class="trhead">
                            </td>
                            <td width="98">
                                Teaching Hospitals
                            </td>
                            <td width="98">
                                Provincial General Hospitals
                            </td>
                            <td width="98">
                                District General Hospitals
                            </td>
                            <td width="98">
                                Offices
                            </td>
                            <td width="98">
                                Others
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="height:400px;overflow:auto;">
                        <table class="table table-bordered">
                            <tbody>
                            <tr height="20" ng-repeat="dmhPdfaNum in dlMinistryHealthSys.Table_5.DmhPdfaNum">
                                <td width="264" ng-bind="dmhPdfaNum.num_des_facilities" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dmhPdfaNum" ng-if="$index > 0">
                                    <input id="textinput" ng-model="dmhPdfaNum[key]" name="textinput" type="text"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Number of Patients Affected
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20" ng-repeat="dmhPdfaPaf in dlMinistryHealthSys.Table_5.DmhPdfaPaf">

                                <td width="264" ng-bind="dmhPdfaPaf.num_patients_affected" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dmhPdfaPaf" ng-if="$index > 0">
                                    <input id="textinput" ng-model="dmhPdfaPaf[key]" name="textinput" type="text"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <a href="#step4" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                                class="glyphicon glyphicon-arrow-right"></span> Fill No of Partially Damaged Assets
                            Informations</a>
                    </div>

                </div>

                <div class="tab-pane" id="step4">
                    <table class="table table-bordered" style="width:98.3%;background:#E4E5E6;">
                        <colgroup>
                            <col width="264"/>
                            <col width="98" span="6"/>
                        </colgroup>
                        <tbody>


                        <tr height="20" class="trheadc">
                            <td width="264" height="20">
                            </td>
                            <td colspan="3" width="294" style="text-align:center;">
                                Line Ministry Health System
                            </td>
                            <td colspan="2" width="196" style="text-align:center;">
                                MOH
                            </td>
                            <td rowspan="2" width="98">
                                Total Damages (LKR)
                            </td>
                        </tr>
                        <tr height="34" class="trsubc">
                            <td width="264" height="34" class="trhead" style="text-align:left;padding-left:5px;">
                                Assets
                            </td>
                            <td width="98">
                                Teaching Hospitals
                            </td>
                            <td width="98">
                                Provincial General Hospitals
                            </td>
                            <td width="98">
                                District General Hospitals
                            </td>
                            <td width="98">
                                Offices
                            </td>
                            <td width="98">
                                Others
                            </td>
                        </tr>
                        <!--tab 4-->
                        </tbody>
                    </table>
                    <div style="height:400px;overflow:auto;">
                        <table class="table table-bordered">
                            <tbody>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Structure (in sqm)
                                </td>
                                <td width="98">

                                </td>
                                <td width="98">

                                </td>
                                <td width="98">

                                </td>
                                <td width="98">

                                </td>
                                <td width="98">

                                </td>
                                <td width="98">

                                </td>
                            </tr>
                            <tr height="20"
                                ng-repeat="dmhPdfaStructure in dlMinistryHealthSys.Table_5.DmhPdfaStructure">
                                <td width="264" ng-bind="dmhPdfaStructure.asset" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dmhPdfaStructure" ng-if="$index > 0">
                                    <input id="textinput" ng-model="dmhPdfaStructure[key]" name="textinput" type="text"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Medical Equipment
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20"
                                ng-repeat="dmhPdfaMequipment in dlMinistryHealthSys.Table_5.DmhPdfaMequipment">
                                <td width="264" ng-bind="dmhPdfaMequipment.asset" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dmhPdfaMequipment"
                                    ng-if="$index > 0 && $index < 4">
                                    <input id="textinput" ng-model="dmhPdfaMequipment[key]" name="textinput" type="text"
                                           placeholder="" class="form-control input-md">
                                </td>
                                <td width="98" style="background:#E4E5E6;">
                                </td>
                                <td width="98" style="background:#E4E5E6;">
                                </td>
                                <td width="98">
                                    <input id="textinput" ng-model="dmhPdfaMequipment.total" name="textinput"
                                           type="text" placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Other Assets
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20" ng-repeat="dmhPdfaOassets in dlMinistryHealthSys.Table_5.DmhPdfaOassets">
                                <td width="264" ng-bind="dmhPdfaOassets.asset" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dmhPdfaOassets" ng-if="$index > 0">
                                    <input id="textinput" ng-model="dmhPdfaOassets[key]" name="textinput" type="text"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <a href="#step5" class="btn btn-sm btn-info pull-right" data-toggle="tab"><span
                                class="glyphicon glyphicon-arrow-right"></span> Fill Losses Informations</a>
                    </div>

                </div>

                <div class="tab-pane" id="step5">
                    <table class="table table-bordered" style="width:98.3%;background:#E4E5E6;">
                        <colgroup>
                            <col width="264"/>
                            <col width="98" span="6"/>
                        </colgroup>
                        <tbody>

                        <tr height="20" class="trheadc">
                            <td width="264" height="20" style="text-align:left;padding-left:5px;">
                                Types of Losses
                            </td>
                            <td colspan="3" width="294" style="text-align:center;">
                                Line Ministry Health System
                            </td>
                            <td colspan="2" width="196" style="text-align:center;">
                                MOH
                            </td>
                            <td rowspan="2" width="98">
                                Total Losses (LKR)
                            </td>
                        </tr>
                        <tr height="51" class="trsubc">
                            <td width="264" height="51" class="trheadc">
                            </td>
                            <td width="98">
                                Teaching Hospitals
                            </td>
                            <td width="98">
                                Provincial General Hospitals
                            </td>
                            <td width="98">
                                District General Hospitals
                            </td>
                            <td width="98">
                                Offices
                            </td>
                            <td width="98">
                                Others
                            </td>
                        </tr>
                        </tbody> <!--tab 5-->
                    </table>

                    <div style="height:400px;overflow:auto;">
                        <table class="table table-bordered">
                            <tbody>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Foregone Income
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20" ng-repeat="dmhLosFi in dlMinistryHealthSys.Table_5.DmhLosFi">
                                <td width="264" ng-bind="dmhLosFi.type_of_losses" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dmhLosFi" ng-if="$index > 0">
                                    <input id="textinput" ng-model="dmhLosFi[key]" name="textinput" type="text"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Cleaning Up of Debris
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20" ng-repeat="dmhLosCud in dlMinistryHealthSys.Table_5.DmhLosCud">
                                <td width="264" ng-bind="dmhLosCud.type_of_losses" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dmhLosCud" ng-if="$index > 0">
                                    <input id="textinput" ng-model="dmhLosCud[key]" name="textinput" type="text"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Higher Operating Costs
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20" ng-repeat="dmhLosHoc in dlMinistryHealthSys.Table_5.DmhLosHoc">
                                <td width="264" ng-bind="dmhLosHoc.type_of_losses" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dmhLosHoc" ng-if="$index > 0">
                                    <input id="textinput" ng-model="dmhLosHoc[key]" name="textinput" type="text"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            <tr height="20" class="trheadc">
                                <td width="264" height="20">
                                    Other Unexpected Expenses
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                                <td width="98">
                                </td>
                            </tr>
                            <tr height="20" ng-repeat="dmhLosOue in dlMinistryHealthSys.Table_5.DmhLosOue">
                                <td width="264" ng-bind="dmhLosOue.type_of_losses" height="20" class="tdpa">
                                </td>
                                <td width="98" ng-repeat="(key, value) in dmhLosOue" ng-if="$index > 0">
                                    <input id="textinput" ng-model="dmhLosOue[key]" name="textinput" type="text"
                                           placeholder="" class="form-control input-md">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pull-right">
                            <br>
                            <button type="button" class="btn btn-info">Clear</button>
                            <button type="button" class="btn btn-success" ng-click="saveBucMarStructure()">Submit
                            </button>
                        </div>

                    </div>


                </div>
            </div>
        </div>


        <br>

    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock content %}
